
@{
    Layout = null;
    ViewBag.Title = "Preguntas frecuentes";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link rel="shortcut icon" href="~/Logos/logo.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/preguntasFrecuentes.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <img id="logo" src="~/Logos/logo.png" />
                <a id="service" class="navbar-brand" href="@Url.Action("IndexUsuarios", "Servicios")">Service Market</a>
                <h2></h2>
            </div>
        </nav>
    </header>

    <section class="preguntas h-75 container-sm mx-auto">
        <h1 class="titulo">Preguntas frecuentes</h1>
        <div class="accordion" id="accordionExample">
            <div class="acordion accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        ¿Cómo puedo impulsar mi servicio dentro de la aplicación?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h2>En el área de publicidad</h2>
                        <p>En nuestra página web contamos con la opción de promocionar las publicaciones, la cuál ayudara a impulsar el servicio que ofreces ya que será visible ante clientes potenciales.</p>
                    </div>
                </div>
            </div>

            <div class="acordion accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Cómo puedo verificar que un prestador de servicios es confiable?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h2>En el perfil del prestador de servicios.</h2>
                        <p>Nos encontramos con las diferentes calificaciones por parte de los usuarios sobre los servicios que han adquirido, al igual que sus reseñas, también con diferentes datos que ayudaran a una mayor confiabilidad.</p>
                    </div>
                </div>
            </div>
            <div class="acordion accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Cómo puedo verificar que un cliente es confiable?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h2>En el perfil del cliente.</h2>
                        <p>Nos encontramos con las calificaciones que los prestadores de servicios han realizado de acuerdo a su experiencia con el servicio realizado.</p>
                    </div>
                </div>
            </div>
            <div class="acordion accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Realización de reclamos
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h2>En el área de CONTACTANOS o AYUDAS/PQR </h2>
                        <p>En nuestra página web podrás contactarnos mediante un formulario el cual responderemos con gran agilidad para solventar tú problema. Sin embargo, debes de tener en cuenta que si hay alguna insatisfacción con la realización del servicio debe de ser acordada con el prestador de servicios personalmente.</p>
                    </div>
                </div>
            </div>
            <div class="acordion accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        ¿Qué servicios encuentro en Service Market?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h2>En el área de categorías</h2>
                        <p>En Service Market podrás encontrar independientes que prestan servicios en las categorías de trabajos domésticos, remodelación y albañilería, mantenimiento, salud y belleza, contando con un sinnúmero de servicios especializados dentro de cada una de ellas.</p>
                    </div>
                </div>
            </div>
            <div class="acordion accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        ¿Quién puede ser parte de Service Market?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h2>¡Todos!</h2>
                        <p>Si buscas un servicio especial, seguro que aquí podrás encontrar la ayuda experta. Estamos en constante búsquedad de independientes que puedan ofrecer más y mejores servicios y se ajusten a las necesidades de los contrantes.</p>
                    </div>
                </div>
            </div>
            <div class="acordion accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        ¿Tiene algún costo registrarse en Service Market?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h2>No</h2>
                        <p>Registrarse en nuestra plataforma es completamente gratuito, al igual que publicar servicios.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="d-grid gap-2 col-6 mx-auto d-block">
        <a href="@Url.Action("IndexUsuarios", "Servicios")" class="volver btn btn-outline-primary">Volver al inicio</a>
    </div>

    <footer class="bg-dark">
        <div class="text-center">
            <div class="row m-4 p-4">
                <div class="col">
                    <h4 class="link-light">Servicio al cliente</h4>
                    <br />
                    <a href="@Url.Action("PQR", "Servicios")" class="text-decoration-none link-light">Ayuda/PQR</a>
                    <br><br>
                    <a href="@Url.Action("preguntasFrecuentes", "Servicios")" class="text-decoration-none link-light">Preguntas frecuentes</a>
                </div>
                <div class="col">
                    <h4 class="link-light">Acerca de service market</h4>
                    <br />
                    <a href="#" class="text-decoration-none link-light">Terminos y condiciones</a>
                    <br><br><br><br>
                    <h5 class="link-light">Desarrolladoras</h5>
                    <h6 class="link-light">Yesenia Quejada Rojas<br> Valentina Zapata Flórez</h6>
                </div>
                <div class="col">
                    <h4 class="link-light">Síguenos</h4>
                    <br />
                    <a href="#" class="text-decoration-none link-light"><img src="~/Imagenes/facebook.png" alt="" width="40"> Facebook</a>
                    <br><br>
                    <a href="#" class="text-decoration-none link-light"><img src="~/Imagenes/instagram.png" alt="" width="40"> Instagram</a>
                    <br><br>
                    <a href="#" class="text-decoration-none link-light"><img src="~/Imagenes/gorjeo.png" alt="" width="40"> Twitter</a>
                </div>
            </div>
        </div>
        <br><br>
        <p class="link-light text-center">&copy; @DateTime.Now.Year - Service Market</p>
        <br><br>
    </footer>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
