@model IEnumerable<_SERVICE_MARKET_.Models.Servicio>

@{
    ViewBag.Title = "Servicios Disponibles";
    Layout = "~/Views/Shared/Layout_C.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/ServiciosDisponibles.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
    <section>
        <h1 class="titulo">Servicios Disponibles</h1>
        <section class="cards-content">
            @foreach (var item in Model)
            {
                <div class="container">
                    <div class="course drop">
                        <div class="preview">
                            <h2>@Html.DisplayFor(modelItem => item.NOMBRE_SER)</h2>
                        </div>
                        <div class="informacionCard">
                            <h6><b>Categoría:</b> @Html.DisplayFor(modelItem => item.NOMBRE_CAT)</h6>
                            <h3><b>$</b> @Html.DisplayFor(modelItem => item.PRECIO_SER)</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <p class="p-trunc">@Html.DisplayFor(modelItem => item.DESCRIPCION_BREVE)</p>
                            <button onclick="masInformacion()" type="button" class="btnCard">Más información</button>
                        </div>
                    </div>
                </div>
            }
        </section>
    </section>

    <section>
        <h1 class="Subtitulo">Categorías</h1>
        
    </section>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/all.min.js"></script>

</body>
</html>