
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link rel="shortcut icon" href="~/Logos/logo.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Layout.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <img id="logo" src="~/Logos/logo.png" />
                <a id="service" class="navbar-brand" href="@Url.Action("IndexUsuarios", "Servicios")">
                    Service Market
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú de navegación</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <form class="d-flex mt-3" role="search" action="@Url.Action("BuscarCliente","Servicios")" method="post">
                                <input class="busquedad form-control me-2" type="search" placeholder="Busca Servicios" aria-label="Search" name="NOMBRE_SER">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </form>
                            <br />
                            <li class="nav-item">
                                <a class="item nav-link" href="@Url.Action("ServiciosDisponiblesCliente", "Servicios")">Servicios Disponibles</a>
                            </li>
                            <li class="nav-item">
                                <a class="item nav-link" href="@Url.Action("PublicarSolicitud","Servicios")">Publicar solicitud</a>
                            </li>
                            <li class="nav-item">
                                <a class="item nav-link" href="@Url.Action("", "")">Categorías</a>
                            </li>
                            <li class="nav-item">
                                <a class="item nav-link" href="@Url.Action("","")">Favoritos</a>
                            </li>
                            <li class="nav-item">
                                <a class="item nav-link" href="@Url.Action("","")">Mis solicitudes</a>
                            </li>
                            <li class="nav-item">
                                <a class="item nav-link" href="@Url.Action("","")">Mi perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="item nav-link" href="@Url.Action("","")">Historial</a>
                            </li>
                            <li class="nav-item">
                                <a class="item nav-link" href="@Url.Action("CerrarSesion","Acceso")">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <main>
        <section>
            <div>
                @RenderBody()
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-col">
            <h4>Service Market</h4>
            <ul class="ul">
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Nuestros servicios</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Ayuda      </h4>
            <ul class="ul">
                <li><a href="@Url.Action("PQR", "Servicios")">PQR</a></li>
                <li><a href="@Url.Action("PreguntasFrecuentes", "Servicios")">Preguntas frecuentes</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Desarrolladoras</h4>
            <ul class="ul">
                <li><a href="#">Yesenia Quejada Rojas</a></li>
                <li><a href="#">Valentina Zapata Florez</a></li>
                <li><a href="#">&copy; @DateTime.Now.Year</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Síguenos</h4>
            <div class="links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/all.min.js"></script>
</body>
</html>

