@model IEnumerable<_SERVICE_MARKET_.Models.Servicio>

@{
    ViewBag.Title = "Página principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Index.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="carousel-content" id="carouselIndex">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="~/Imagenes/limpiezaCarousel.jpg" class="img-carousel d-block w-100" alt="...">
                    <div class="mensaje-carousel carousel-caption d-md-block">
                        <h5>Servicios de trabajos domésticos</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/Imagenes/remodelacionCarousel.jpg" class="img-carousel d-block w-100" alt="...">
                    <div class="mensaje-carousel carousel-caption d-md-block">
                        <h5>Servicios de remodelación y albañilería</h5>
                    </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="~/Imagenes/mantenimientopcCarousel.jpg" class="img-carousel d-block w-100" alt="...">
                        <div class="mensaje-carousel carousel-caption d-md-block">
                            <h5>Servicios de mantenimiento</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagenes/bellezaCarousel.jpg" class="img-carousel d-block w-100" alt="...">
                        <div class="mensaje-carousel carousel-caption d-md-block">
                            <h5>Servicios de salud y belleza</h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

            <section class="cards-content">
            <h1 class="titulo">Servicios Disponibles</h1>
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4">
                            <div class="card-servicios card text-light bg-dark drop" style="width: 21rem;">
                                <div class="card-body info">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.NOMBRE_SER)</h5>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.DESCRIPCION_BREVE)</p>
                                    <h4 class="card-title">$ @Html.DisplayFor(modelItem => item.PRECIO_SER)</h4>
                                    <h6 class="card-title">@Html.DisplayFor(modelItem => item.NOMBRE_CAT)</h6>
                                </div>
                                <div class="botonInfo">
                                    <button onclick="masInformacion()" type="button" class="btn btn-primary">Más información</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

        <script>
            function masInformacion() {
                swal({
                    icon: "info",
                    title: "Más informacion del servicio",
                    text: "Para visualizar más información, registrate o ingresa a tu cuenta por medio del menú de navegación.",
                    button: "Ok",
                    closeOnClickOutside: false,
                    closeOnEsc: false,
                });
            }
        </script>

        <script src="~/Scripts/sweetalert.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
    </html>

